<div class="layout">
    <% include ./Navigation %>
    <div class="wrap">
        <h1 class='title-text'><span class='hightlight'>Create Member</span></h1>
        <form action="/groups/view/<%= group._id %>/createmember" 
              class="form"
              method='POST'>
            <% include ./partials/messages %>  
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="First Name" 
                       name='firstname'
                       value="<%= typeof firstname != 'undefined' ? firstname : '' %>"
                    >
            </div>
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="Last Name" 
                       name='lastname'
                       value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
                    >
            </div>
            <div class="form-field">
                <input type="email" 
                       class="form-field-input" 
                       placeholder="Email" 
                       name='email'
                       value="<%= typeof email != 'undefined' ? email : '' %>"
                    >
            </div>
            <div class="form-field">
                <textarea name="medications" 
                          class='form-text-field-input'
                          placeholder="Medications?"
                          value="<%= typeof medications != 'undefined' ? medications : '' %>"
                          ></textarea>
            </div>
            <div class="radio-group">
                <input class='login-input' type="radio" name="gender" id="male" value="male">
                <label class='radio-label' for="male">Male</label>
            </div>
            <div class="radio-group">
                <input class='login-input' type="radio" name="gender" id="female" value="female">
                <label class='radio-label' for="female">Female</label>
            </div>
            <div class="radio-group">
                <input class='login-input' type="radio" name="gender" id="other" value="other">
                <label class='radio-label' for="other">Other</label>
            </div>
            <div class="form-field">
                <label for="birthday" class='label'>Birthday: </label>
                <input class='login-input-date' id='birthday' type="date" name='birthday'>
            </div>
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="RMR" 
                       name='RMR'
                       value="<%= typeof RMR != 'undefined' ? RMR : '' %>"
                    >
            </div>
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="HDL" 
                       name='HDL'
                       value="<%= typeof HDL != 'undefined' ? HDL : '' %>"
                    >
            </div>
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="LDL" 
                       name='LDL'
                       value="<%= typeof LDL != 'undefined' ? LDL : '' %>"
                    >
            </div>
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="TC" 
                       name='TC'
                       value="<%= typeof TC != 'undefined' ? TC : '' %>"
                    >
            </div>
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="Ratio" 
                       name='Ratio'
                       value="<%= typeof Ratio != 'undefined' ? Ratio : '' %>"
                    >
            </div>
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="Triglycerides" 
                       value="<%= typeof Trigs != 'undefined' ? Trigs : '' %>"
                       name='Trigs'
                    >
            </div>
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="Body Fat Percentage" 
                       name='BFP'
                       value="<%= typeof BFP != 'undefined' ? BFP : '' %>"
                    >
            </div>
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="Weight" 
                       name='Weight'
                       value="<%= typeof Weight != 'undefined' ? Weight : '' %>"
                    >
            </div>
            <div class="form-field">
                <input type="text" 
                       class="form-field-input" 
                       placeholder="Hemoglobin" 
                       name='Hemoglobin'
                       value="<%= typeof Hemoglobin != 'undefined' ? Hemoglobin : '' %>"
                    >
            </div>
            <button type='submit' class='btn'>Submit</button>
        </form>
    </div>
</div>


<script>
    $(document).ready(() => {
        $.dobPicker({
            // Selectopr IDs
            daySelector: '#dobday',
            monthSelector: '#dobmonth',
            yearSelector: '#dobyear',

            // Default option values
            dayDefault: 'Day',
            monthDefault: 'Month',
            yearDefault: 'Year',

            // Minimum age
            minimumAge: 12,

            // Maximum age
            maximumAge: 80
        });
    });
</script>
<script type="text/javascript">
    $("#demo").birthdayPicker();	
    $("#demo").birthdayPicker({
        maxAge: 100,
        minAge: 0,
        maxYear: r,
        monthFormat: "number",
        placeholder: true,
        defaultDate: false,
        sizeClass: "span2"
    });	
    $("#birthdayPicker").birthdayPicker();
</script>