<form class='center' method='POST' action='/database'>
    <fieldset>
        <legend>Find By Username</legend>
        <div class="form-group">
            <input type="text" name='username' class="form-control" placeholder="Enter Username">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>

<% if(client){ %>
    <div class="center">
        <p>Name: <%= client.firstname %> <%= client.lastname %></p>
        <p>Signup Date: <%= moment(client.signup_date).format(shortDateFormat) %> </p>
        <p><%= client.Metabolic_Type %></p>
        <p>Birthday: <%= moment(client.birthday).format(shortDateFormat) %></p>
        <p>Age: <%= moment().diff(client.birthday,'years') %></p>
        <p>Medications: <%= client.medications %></p>
        <% for(var i=0; i<client.data.length; i++) { %>
                <div class="card border-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Date Created: <%= moment(client.data[i].date).format(shortDateFormat) %></div>
                    <div class="card-body">
                        <p class="card-text">RMR: <%= client.data[i].meta.RMR %></p>
                        <p class="card-text">HDL: <%= client.data[i].meta.HDL %></p>
                        <p class="card-text">LDL: <%= client.data[i].meta.LDL %></p>
                        <p class="card-text">TC: <%= client.data[i].meta.TC %></p>
                        <p class="card-text">Ratio: <%= client.data[i].meta.Ratio %></p>
                        <p class="card-text">Triglycerides: <%= client.data[i].meta.Trigs %></p>
                        <p class="card-text">Body Fat: <%= client.data[i].meta.BFP %>%</p>
                        <p class="card-text">Weight: <%= client.data[i].meta.Weight %> lbs</p>
                        <p class="card-text">Caloric Level: <%= client.data[i].meta.Caloric_Level %></p>
                        <p class="card-text">Blood Glucose: <%= client.data[i].meta.Blood_Glucose %></p>
                        <p class="card-text">Hemoglobin: <%= client.data[i].meta.Hemoglobin %></p>
                    </div>
                </div>    
        <% } %>
    </div>

<% } %>