<div class="layout">
    <div class="login-wrap">
        <div class="login-header">
            <% include ./Logo %>
            <h1 class='login-title anim1'>Rezvani Health</h1>
        </div>
        <% include ./partials/messages %>
        <form class='login-form' method='POST' action='/register'>
            <input 
                type="text" 
                class="login-input anim2" 
                placeholder="First Name" 
                name='firstname'
                value="<%= typeof firstname != 'undefined' ? firstname : '' %>"
            >
            <input 
                type="text" 
                class="login-input anim3" 
                placeholder="Last Name" 
                name='lastname'
                value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
            >
            <input 
                type="text" 
                class="login-input anim4" 
                placeholder="Username" 
                name='username'
                value="<%= typeof username != 'undefined' ? username : '' %>"
            >
            <div class="radio-group">
                <input class='login-input anim5' type="radio" name="gender" id="male" value="male">
                <label class='label anim5' for="male">Male</label>
            </div>
            <div class="radio-group">
                <input class='login-input anim5' type="radio" name="gender" id="female" value="female">
                <label class='label anim5' for="female">Female</label>
            </div>
            <div class="radio-group">
                <input class='login-input anim5' type="radio" name="gender" id="other" value="other">
                <label class='label anim5' for="other">Other</label>
            </div>
            <input 
                type="email" 
                class="login-input anim5"
                placeholder="Enter email" 
                name='email'
                value="<%= typeof email != 'undefined' ? email : '' %>"
            >
            <input 
                type="password" 
                class="login-input anim6"
                placeholder="Password" 
                name='password'
                value="<%= typeof password != 'undefined' ? password : '' %>"
            >
            <input 
                type="password" 
                class="login-input anim7"
                placeholder="Confirm Password" 
                name='password2'
                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            >
            <button type="submit" class="login-btn anim8">Register</button>
        </form>
        <div class="form-text-bottom anim9">
            <a href='/login'>Already have an account?</a>
        </div>
    </div>
</div>